@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text:100,300,400,500,600,700,800,900&display=swap');

/* font-family: 'Big Shoulders Text', cursive; */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

table {
    width: 200%;
    border-collapse: collapse;
    
}

th, td {
    border: 5px solid #dddddd;
    text-align: left;
    padding: 15px;
}

th {
    background-color: #f2f2f2;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #000000;
    padding: 0 20px;
    text-align: center;
    z-index: 9999; 
  }

.nav-flex-row {
    display: flex;
    background-color: #000000;
    position: fixed;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    z-index: 100;
    left: 0;
    width: 100%;
    padding: 0;
}

.nav-flex-row li {
    text-decoration: none;
    list-style-type: none;
    padding: 20px 15px;
}

.nav-flex-row li a {
    font-family: 'Big Shoulders Text', cursive;
    color: #ffffff;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 300;
}

.section-intro {
    height: 820px;
    background-image: url(https://media.istockphoto.com/id/852173226/photo/indian-cuisine-dal-baati.jpg?s=612x612&w=0&k=20&c=JNpXvsYverlIjtEy6nypJpxz4zfv_A5GR4ncQft0cIc=);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.section-intro h1 {
    text-align: center;
    color: #ffffff;
    font-size: 4em;
    font-weight: 700;
}

.section-intro header {
    display: flex;
    flex: 4;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.link-to-book-wrapper {
    flex: 1;
}



.link-to-book {
    color: #ffffff;
    background-color: #000000;
    display: block;
    border: 2px solid #ffffff;
    padding: 5px 10px;
}

a.link-to-book:hover {
    background-color: #ffffff;
    color: #95999e;
    text-decoration: none;
}

.menu {
    padding: 20px;
    background-color: #f9f9f9;
    font-family: 'Segoe UI', sans-serif;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-section {
    flex-basis: 80%;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.menu-section h2 {
    padding: 15px;
    margin: 0;
    background-color: #007bff;
    color: #fff;
    font-size: 2rem;
    text-align: center;
}

.menu-items {
    padding: 5px;
}

.menu-items table, .menu-items ul {
    width: 20%;
    border-collapse: collapse;
}

.menu-items th, .menu-items td, .menu-items li {
    padding: 15px 2px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.menu-items th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-transform: uppercase;
}

.menu-items tbody tr:hover {
    background-color: #f0f0f0;
}

.menu-item h3 {
    color: #333;
    margin-bottom: 5px;
    font-size: 2rem;
    text-align: right;
}

.menu-item p {
    color: #666;
    margin-top: 0;
    font-size: 1rem;
}


.carousel-inner {
    height: 700px;
}

.row-flex {
    display: flex;
    flex-direction: row;
}

.flex-column-form {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 30px 20px;
}

.btn.btn-primary {
    font-family: 'Big Shoulders Text', cursive;
    color: #ffffff;
    background-color: #95999e;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px 10px;
    letter-spacing: 2px;
    border: 0;
}

.btn.btn-primary:hover {
    background-color: #747474;
}
.opening-time,
.contact-adress {
    flex: 1;
    margin: 30px 20px;
    font-size: 1.2em;
}

.form-group p {
    font-size: 1.2em;
}

.opening-time p span,
.contact-adress p span {
    display: block;
}

@media (min-width:577px) and (max-width: 800px) {

    .section-intro {
        height: 500px;
    }

    .about-section p,
    .about-section h3 {
        font-size: 20px;
    }

    .carousel-inner {
        height: auto;
    }

    .row-flex {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 576px) {
    .section-intro {
        height: 300px;
    }

    .about-section {
        padding: 30px;
    }

    .section-intro h1 {
        font-size: 2em;
    }

    .about-section p,
    .about-section h3 {
        font-size: 15px;
    }

    .carousel-inner {
        height: auto;
    }

    .row-flex {
        display: flex;
        flex-direction: column;
    }

    .row-flex h3 {
        font-size: 25px;
        text-align: center;
    }

    .form-group p {
        font-size: 15px;
    }

    .opening-time p span,
    .contact-adress p span {
        font-size: 15px;
        text-align: center;
    }

}